.container
  section.content
    h1.title Sobre mí
    article
      div.description
        p Hola! Soy Sergio, tengo 21 años y vivo en Buenos Aires, Argentina. Soy Desarrollador Front End y JavaScript con algunos años de experiencia. Trabajo en una companía llamada <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a> haciendo diseños con HTML5 y CSS3 y programando JS en un pequeño equipo. Hacemos sitios web, intranets y marketing digital para otras empresas.
        p Estudié eletromecánica en la escuela secundaria <a href="//goo.gl/maps/DxODg" target="_blank" rel="nofollow">E.T. N°11 D.E. 6 "Manuel Belgrano"</a> y cuando me gradué (2011) hice los cursos de <a href="//mejorando.la/online" target="_blank" rel="nofollow">Diseño Web</a> y <a href="//mejorando.la/frontend" target="_blank" rel="nofollow">FrontEnd Profesional</a> de <a href="//mejorando.la" target="_blank" rel="nofollow">Mejorando.la's</a>.
        p Me gusta compartir código en mi <a href="//github.com/sergiodxa" target="_blank">cuenta de Github</a> y escribir artículos y tutorials que publico en <a href="//medium.com/@sergiodxa">Medium</a>. Hice algunas librerías para JavaScript y LESS que uso en mi trabajo y libero con licencia MIT en Github.
        p Me gusta usar herramientas que me ayuden en mi trabajo, como LESS como pre-procesador de CSS y Gulp para automatizar mis tareas repetitivas.
