header.header
  .text-vertical-center
    figure.avatar
      img(src="https://avatars2.githubusercontent.com/u/1312018?s=460", alt="Yo")
    h1.nombre Sergio Daniel Xalambrí
    h3.titulo JavaScript Developer