section#jobs
  article.container
    h1.text-center Trabajos
    .row
      .col-sm-6.col-md-4.text-center
        h2 Comahue Alarmas
        figure
          img(src="./img/jobs/comahue.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo FullStack del sitio usando PHP con CodeIgniter, MySQL y HTML5, CSS3 y JavaScript con jQuery, trabajando para <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a>.
        a(href="//alarmascomahue.com.ar", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 Sistemas SPS
        figure
          img(src="./img/jobs/sps.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo FullStack del sitio usando PHP con CodeIgniter y MySQL para el Backend y HTML5, CSS3 y JavaScript con jQuery para el Frontend, trabajando para <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a>.
        a(href="//sistemasps.com.ar", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 ImanClicks
        figure
          img(src="./img/jobs/imanclicks.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo del Frontend del sitio de la empresa de Marketing Online ImanClicks, trabajando para <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a>.
        a(href="//www.imanclicks.com/", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 Marvel DataBase
        figure
          img(src="./img/jobs/marveldb.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo de una aplicación web que realizar consultas a la API de Marvel Comics y muestra información sobre los personajes.
        a(href="//sergiodxa.github.io/MarvelDB", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 ProSlider
        figure
          img(src="./img/jobs/proslider.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo de un slider responsive hecho en base a la programación orientada a objetos.
        a(href="//sergiodxa.github.io/ProSlider", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 The Pirate Bay App
        figure
          img(src="./img/jobs/tpb-app.jpg", alt="").img-responsive.img-thumbnail.animated
        p Aplicación web para realizar busquedas en el sitio The Pirate Bay, nacida a partir del bloqueo de TPB en Argentina.
        a(href="//tpb-app.herokuapp.com/", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 Tu-ID
        figure
          img(src="./img/jobs/tu-id.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo del Frontend del sitio de la empresa de tarjetas personales Tu-ID, trabajando para <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a>.
        a(href="//www.tu-id.com", rel="nofollow", target="_blank").btn.btn-dark Ver sitio
      .col-sm-6.col-md-4.text-center
        h2 WEGA
        figure
          img(src="./img/jobs/wega.jpg", alt="").img-responsive.img-thumbnail.animated
        p Desarrollo del sitio web de la empresa de filtros, bujías y lámparas Wega, trabajando para <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a>.
        a(href="//www.wega.com.ar/", rel="nofollow", target="_blank").btn.btn-dark Ver sitio