nav(role="navigation").navbar.text-right
  button(type="button").navbar-btn.fa.fa-bars
  ul.navbar-list
    each item in nav.items
        li.navbar-list-item
          a(href="#{item.href}", title="#{item.title}") #{item.content}