section#repos.bg-primary
  article.container
    h1.text-center Repositorios
    .row
      .col-sm-6.col-md-4.text-center
        h2 ngCreate
        p Programa de línea de comandos que te permite crear archivos para programar con AngularJS más facilmente.
        a(href="//github.com/sergiodxa/ngCreate", target="_blank").btn.btn-light Ver repositorio
      .col-sm-6.col-md-4.text-center
        h2 proSlider
        p Slider responsive hecho en base a la programación orientada a objetos
        a(href="//github.com/sergiodxa/ProSlider", target="_blank").btn.btn-light Ver repositorio
      .col-sm-6.col-md-4.text-center
        h2 The Pirate Bay App
        p Aplicación web para realizar busquedas en el sitio The Pirate Bay, nacida a partir del bloqueo de TPB en Argentina.
        a(href="//tpb-app.herokuapp.com/", rel="nofollow", target="_blank").btn.btn-light Ver sitio