.container
  section.content
    h1.title Conocimientos
    article
      div.skill-list
        a(href="//angularjs.org" target="_blank" rel="nofollow").skill-list-item AngularJS
        a(href="//es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones" target="_blank" rel="nofollow" title="Application Programming Interface").skill-list-item APIs
        a(href="//backbonejs.org" target="_blank" rel="nofollow").skill-list-item Backbone.js
        a(href="//en.wikipedia.org/wiki/Behavior-driven_development" target="_blank" rel="nofollow" title="Behavior-driven development").skill-list-item BDD
        a(href="//bitbucket.org" target="_blank" rel="nofollow").skill-list-item Bitbucket
        a(href="//ellislab.com/codeigniter" target="_blank" rel="nofollow").skill-list-item CodeIgniter
        a(href="//coffeescript.org/" target="_blank" rel="nofollow").skill-list-item CoffeScript
        a(href="//es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada#CSS3" target="_blank" rel="nofollow").skill-list-item CSS3
        a(href="//expressjs.com/" target="_blank" rel="nofollow").skill-list-item Express.js
        a(href="//git-scm.com/" target="_blank" rel="nofollow").skill-list-item Git
        a(href="//github.com/" target="_blank" rel="nofollow").skill-list-item Github
        a(href="//gruntjs.com/" target="_blank" rel="nofollow").skill-list-item Grunt
        a(href="//gulpjs.com/" target="_blank" rel="nofollow").skill-list-item Gulp
        a(href="//es.wikipedia.org/wiki/HTML5" target="_blank" rel="nofollow").skill-list-item HTML5
        a(href="//jade-lang.com/" target="_blank" rel="nofollow").skill-list-item Jade
        a(href="//es.wikipedia.org/wiki/JavaScript" target="_blank" rel="nofollow").skill-list-item JavaScript
        a(href="//jquery.com/" target="_blank" rel="nofollow").skill-list-item jQuery
        a(href="//jquerymobile.com/" target="_blank" rel="nofollow").skill-list-item jQuery Mobile
        a(href="//jqueryui.com/" target="_blank" rel="nofollow").skill-list-item jQuery UI
        a(href="//es.wikipedia.org/wiki/Kanban" target="_blank" rel="nofollow").skill-list-item Kanban
        a(href="//lesscss.org/" target="_blank" rel="nofollow").skill-list-item LESS
        a(href="//visionmedia.github.io/mocha/" target="_blank" rel="nofollow").skill-list-item Mocha
        a(href="//www.mongodb.org/" target="_blank" rel="nofollow").skill-list-item MongoDB
        a(href="//mongoosejs.com/" target="_blank" rel="nofollow").skill-list-item Mongoose
        a(href="//nodejs.org/" target="_blank" rel="nofollow").skill-list-item Node.js
        a(href="//php.net/" target="_blank" rel="nofollow").skill-list-item PHP
        a(href="//es.wikipedia.org/wiki/Programaci%C3%B3n_orientada_a_objetos" target="_blank" rel="nofollow" title="Programación Orientada a Objetos").skill-list-item POO
        a(href="//redis.io/" target="_blank" rel="nofollow").skill-list-item Redis
        a(href="//es.wikipedia.org/wiki/Dise%C3%B1o_web_adaptable" target="_blank" rel="nofollow" title="Responsive Web Design").skill-list-item RWD
        a(href="//es.wikipedia.org/wiki/Scrum" target="_blank" rel="nofollow").skill-list-item Scrum
        a(href="//socket.io/" target="_blank" rel="nofollow").skill-list-item Socket.io
        a(href="//learnboost.github.io/stylus/" target="_blank" rel="nofollow").skill-list-item Stylus
        a(href="//es.wikipedia.org/wiki/Desarrollo_guiado_por_pruebas" target="_blank" rel="nofollow" title="Test-Driven Development").skill-list-item TDD
        a(href="//es.wikipedia.org/wiki/Prueba_unitaria" target="_blank" rel="nofollow").skill-list-item Unit testing
        a(href="//wordpress.org/" target="_blank" rel="nofollow").skill-list-item WordPress