section#social
  article.container
    a(href="//github.com/sergiodxa", title="Sígueme en Github").red
      span.fa.fa-github
    a(href="//twitter.com/sergiodxa", title="Sígueme en Twitter").red
      span.fa.fa-twitter
    a(href="//linkedin.com/sergiodxa", title="Contactame en LinkedIn").red
      span.fa.fa-linkedin
    a(href="//plus.google.com/+sergiodanielxalambri", title="Agregame a tus círculos de Google Plus").red
      span.fa.fa-google-plus
    a(href="skype:sergiodxa?add", title="Agregame en Skype").red
      span.fa.fa-skype
