extends layouts/base

block content

  section.content
    h1.name Sergio Daniel Xalambrí
    article
      div.description
        p Hola! Soy Sergio, tengo 21 años y vivo en Buenos Aires, Argentina. Soy Desarrollador Front End y JavaScript con algunos años de experiencia. Trabajo en una companía llamada <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a> haciendo diseños con HTML5 y CSS3 y programando JS en un pequeño equipo. Hacemos sitios web, intranets y marketing digital para otras empresas.
        p Estudié eletromecánica en la escuela secundaria <a href="//goo.gl/maps/DxODg" target="_blank" rel="nofollow">E.T. N°11 D.E. 6 "Manuel Belgrano"</a> y cuando me gradué (2011) hice los cursos de <a href="//mejorando.la/online" target="_blank" rel="nofollow">Diseño Web</a> y <a href="//mejorando.la/frontend" target="_blank" rel="nofollow">FrontEnd Profesional</a> de <a href="//mejorando.la" target="_blank" rel="nofollow">Mejorando.la's</a>.
        p Me gusta compartir código en mi <a href="//github.com/sergiodxa" target="_blank">cuenta de Github</a> y escribir artículos y tutorials que publico en <a href="//medium.com/@sergiodxa">Medium</a>. Hice algunas librerías para JavaScript y LESS que uso en mi trabajo y libero con licencia MIT en Github.
        p Me gusta usar herramientas que me ayuden en mi trabajo, como LESS como pre-procesador de CSS y Gulp para automatizar mis tareas repetitivas.
        p Conozco las siguientes tecnologías, frameworks y librerías:
        //p Hi! I'm Sergio, I'm 21 years old and I'm from Buenos Aires, Argentina. I'm a Front End Developer with some years of experience. I'm working in a company named <a href="//www.promaker.com.ar" target="_blank" rel="nofollow">Promaker</a> doing CSS layouts and JS in a little team. We do some web sites or intranets for other companies and digital marketing.
        //p I studied electromechanic in high school <a href="//goo.gl/maps/DxODg" target="_blank" rel="nofollow">E.T. N°11 D.E. 6 "Manuel Belgrano"</a> and when I graduate (2011) I did <a href="//mejorando.la" target="_blank" rel="nofollow">Mejorando.la's</a> courses of <a href="//mejorando.la/online" target="_blank" rel="nofollow">Diseño Web</a> and <a href="//mejorando.la/frontend" target="_blank" rel="nofollow">FrontEnd Profesional</a>.
        //p I like share code in my <a href="//github.com/sergiodxa" target="_blank">Github account</a> and write articles and tutorials who I publish in <a href="//medium.com/@sergiodxa">Medium</a>. I did some libraries in JavaScript and LESS who I use in my work and release them with MIT license in Github.
        //p I like to use tools who help me in my work, like LESS to pre-process the CSS and Gulp to automate all my repetitive tasks.
        //p I know the next technologies, frameworks and libraries:
      ul.skill-list
        li.skill-list-item AngularJS
        li.skill-list-item Backbone.js
        li.skill-list-item CodeIgniter
        li.skill-list-item CoffeScript
        li.skill-list-item CSS3
        li.skill-list-item Express.js
        li.skill-list-item Git
        li.skill-list-item Github
        li.skill-list-item Grunt
        li.skill-list-item Gulp
        li.skill-list-item HTML5
        li.skill-list-item JavaScript
        li.skill-list-item jQuery
        li.skill-list-item jQuery Mobile
        li.skill-list-item jQuery UI
        li.skill-list-item Kanban
        li.skill-list-item LESS
        li.skill-list-item Mocha
        li.skill-list-item MongoDB
        li.skill-list-item Mongoose
        li.skill-list-item Node.js
        li.skill-list-item PHP
        li.skill-list-item Responsive Web Design
        li.skill-list-item Scrum
        li.skill-list-item Socket.io
        li.skill-list-item Stylus
        li.skill-list-item Unit-test
