/*
  Los módulos son pequeñas piezas del sitio que puedes reutilizar. En este archivo puedes cargar (import) todos los módulos que haces y ponerlos en archivo separado en una carpeta modules.
*/

@blanco: #f8f8ff;
@celeste: #1e90ff;
@gris: lighten(@negro, 60%);
@gris-claro: lighten(@negro, 80%);
@negro: #101010;

.container {
  max-width: 1000px;
  margin: 0 auto;
}

// Header
.header {
  background-color: black;
  background-image: url(../img/bg-header.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.avatar {
  display: block;
  margin-bottom: 10px;
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid @blanco;
    max-width: 150px;
    &:extend(.animated);
    &:hover {
      &:extend(.pulse);
    }
  }
}
.nombre,
.titulo {
  color: @blanco;
  text-shadow: black 0 0 3px;
}
.titulo {
  letter-spacing: .25em;
  text-transform: uppercase;
}

// Skills
.skill-list {
  font-size: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  text-align: center;
}
.skill-list-item {
  &:extend(.animated);
  box-sizing: border-box;
  border-bottom: 1px solid @celeste;
  color: @celeste;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 .25em;
  padding-bottom: .25em;
  padding-top: .25em;
  text-align: center;
  vertical-align: middle;
  width: calc(~"25% - .5em");
  &:nth-child(1n) {
    //border-left: 10px solid @celeste;
  }
  @media (max-width: 1000px) {
    width: calc(~"33.33% - .5em");
  }
  @media (max-width: 640px) {
    width: calc(~"50% - .5em");
  }
  @media (max-width: 480px) {
    width: calc(~"100% - .5em");
  }
}
